# dependencies
node_modules

#pdf
*.pdf
#office
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx

#unknown directory
.document/unknown/*

*.jpg

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

.idea/

db/data
yarn-error.log
